*{
    gap:20px;
    padding:40px;
}

.galeria img{
    width:100%;
    border-radius:10px;
    transition:0.3s;
}

.galeria img:hover{
    transform:scale(1.05);
}

form{
    background:white;
    width:80%;
    margin:auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

label{
    display:block;
    margin-top:15px;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background-color:#cc0000;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background-color:#990000;
}

#contenedorNoticias article{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

@media(max-width:768px){

    .cards{
        grid-template-columns:1fr;
    }

    .galeria{
        grid-template-columns:1fr;
    }

    form{
        width:95%;
    }
}
